nav {
  .navbar-collapse {
    @media (min-width: 768px) {
      .input-group {
        max-width: 50%;
      }
    }
    .header {
      a {
        border: 0.1px solid #fefefe;
        border-radius: 10px;
        padding: 10px;
        margin-right: 10px;
      }
    }
  }
}

.pagination {
  background: #3e444a;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  li {
    color: #fff;
    border: 0.1px solid #fefefe;
    @media (min-width: 768px) {
      padding: 1rem;
    }
    @media (max-width: 768px) {
      &.previous {
        display: none;
      }
      &.next {
        display: none;
      }
    }
    padding: 0.5rem;

    &.active {
      background-color: #fff;
      color: #3e444a;
    }
  }
}
